<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Angular - Alunos</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/alunos-image.png" alt="Alunos imagem">
    <mat-card-content>
      <p>
       Olá! Seja bem vindo ao sistema desenvolvido em Angular.<br />
       Esse é um sistema  desenvolvido em Angular 14 e
       Next 
       
       <br /> Deivison
      </p>
    </mat-card-content>
  </mat-card>
