<section>
    <h3>Hero: {{hero.name | uppercase}}</h3>
</section>


<section>
    <ul>
        <li *ngFor="let hero of: heroes" (click)="selectHero(hero)">
            <span>Id:</span>
            <span>{{ hero.id }}</span>
            <span>Name:</span>
            <span>{{ hero.name }}</span>
        </li>
    </ul>
</section>


<section *ngIf="selectedHero !== undefined">
    <h2>Selected Hero</h2>
    <h3>{{ selectedHero.name }}</h3>
    <div>
        <label for="heroName">Hero Name</label>
        <input type="text" name="heroName" id="heroName" placeholder="Insert a hero name" [(ngModel)]="selectedHero.name">
    </div>
</section>